<footer class="foot">
  <% let showClearComplete = todoLength > 0 && todoLength - unfinished > 0 %>
  <span class="info"><%= unfinished %> item left </span>
  <a class="<%= pathname === '/' ? 'active' : '' %>" href="/">all</a>
  <a class="<%= pathname === '/active' ? 'active' : '' %>"  href="/active">active</a>
  <a class="<%= pathname === '/completed' ? 'active' : '' %>"  href="/completed">complete</a>
  <form class="<%= showClearComplete ? 'showClrComplete' : 'disableShow' %> clearComplete "  action="/clearComplete" method="post">
    <button type="submit" >clear Completed</button>
  </form>
</footer>