<!DOCTYPE html>
<html>
  <head>
    <title>todo list</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <div class="container">
      <p class="todoTitle">Todo List</p>
      <form id="checkform" class="inlineSty" method="get" action="/checkall" >
        <input type="checkbox" form="checkform" id="checkall"
          <%= checkAll ? "checked" : "" %>
          onchange="document.getElementById('checkform').submit()" 
        /> 
      </form>
      <form action="/save" class="inlineSty"  method="POST">
        <input
          class="textInput" 
          id="title"
          name="title"
          placeholder="添加一条待做事项"
          autofocus
        />
      </form>
      <%-include("todolist", { dataList, editId: editId || 'NaN' })  %>
      <%-include("footer", { unfinished, pathname }) %>
      <!-- <div class="foot">
        <a class="info"><%= unfinished %> item left </a>
        <a class="<%= pathname === '/' ? 'active' : '' %>" href="/">all</a>
        <a class="<%= pathname === '/active' ? 'active' : '' %>"  href="/active">active</a>
        <a class="<%= pathname === '/complete' ? 'active' : '' %>"  href="/complete">complete</a></div>
      </div> -->
    </div>  
  </body>
  <script>
    // document.getElementById('ulDom').addEventListener('click', function(e) {
    //   let { id } = e.target.dataset;
    //   id && fetch(`/changeStatus/${id}`)
    // })
  </script>
</html>
